.footer {
    background: url(./materials/footer.png) ;
}
.footer .container {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.footer .container:first-child {
    margin: 20px 0;
    display: grid;
}
.footer .socials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
}
.footer .socials a {
    border-bottom: 2px solid transparent;
}
.footer .socials i {
    font-size: 20px;
}
.footer .socials a:hover i {
    color: #fff;
}
.footer .socials a:hover {
    border-bottom: 1px solid #fff;
}

.footer span {
    margin: 10px;
    font-family: 'FreightSansProMediumRegular';
    font-style: normal;
}