@font-face {
  font-family: 'AmsdamRegular';
  src: url('./fonts/AmsdamRegular.eot');
  src: url('./fonts/AmsdamRegular.eot') format('embedded-opentype'),
       url('./fonts/AmsdamRegular.woff2') format('woff2'),
       url('./fonts/AmsdamRegular.woff') format('woff'),
       url('./fonts/AmsdamRegular.ttf') format('truetype'),
       url('./fonts/AmsdamRegular.svg#AmsdamRegular') format('svg');
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('./fonts/MontserratRegular.woff');
  src: url('./fonts/MontserratRegular.woff') format('woff'),
       
}
@font-face {
  font-family: 'CrimsonTextRegular';
  src: url('fonts/CrimsonTextRegular.eot');
  src: url('fonts/CrimsonTextRegular.eot') format('embedded-opentype'),
       url('fonts/CrimsonTextRegular.woff2') format('woff2'),
       url('fonts/CrimsonTextRegular.woff') format('woff'),
       url('fonts/CrimsonTextRegular.ttf') format('truetype'),
       url('fonts/CrimsonTextRegular.svg#CrimsonTextRegular') format('svg');
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@font-face {
  font-family: 'VersatileBold';
  src: url('./fonts/VersatileBold.eot');
  src: url('./fonts/VersatileBold.eot') format('embedded-opentype'),
       url('./fonts/VersatileBold.woff2') format('woff2'),
       url('./fonts/VersatileBold.woff') format('woff'),
       url('./fonts/VersatileBold.ttf') format('truetype'),
       url('./fonts/VersatileBold.svg#VersatileBold') format('svg');
}
@font-face {
  font-family: 'FreightSansProMediumRegular';
  src: url('fonts/FreightSansProMediumRegular.eot');
  src: url('fonts/FreightSansProMediumRegular.eot') format('embedded-opentype'),
       url('fonts/FreightSansProMediumRegular.woff2') format('woff2'),
       url('fonts/FreightSansProMediumRegular.woff') format('woff'),
       url('fonts/FreightSansProMediumRegular.ttf') format('truetype'),
       url('fonts/FreightSansProMediumRegular.svg#FreightSansProMediumRegular') format('svg');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
*::selection {
  color: #fff;
  background: rgb(5, 189, 149);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,span,p {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  /* font-family: 'AmsdamRegular'; */
  font-size: 36px;
  color: #fff;
  font-weight: 100;
}
h5 {
  font-family: "AmsdamRegular";
}
h5 {
  font-size: 16px;
  color: #fff;
}
h4, .footer a {
  font-size: 16px;
  color: #e3e3e3;
  text-transform: uppercase;
  text-decoration: none;
}
h4 {
  margin-top: 30px;
  letter-spacing: 2px;
}
h3 {
  font-family: 'MontserratRegular';
 
  letter-spacing: 2px;
}
p {
  font-family: 'CrimsonTextRegular';
  color: #3e3d3d;
  letter-spacing: 2px;
}
.footer h4:last-child {
  margin-top: 0;
}
.footer p {
  color: #949494;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 25px;
}
.footer p:first-child {
  margin-top: 0;
}
.footer {
  display: grid;
  justify-items: center;
  align-items: center;
}

.container__max {
  min-width: 100%;
  max-width: 100%;
  display: grid;
  justify-items: center;
}
.container {
  min-width: 1170px;
  max-width: 1170px;
}
.container__mini {
  min-width: 800px;
  max-width: 800px;
}
#footerBtn {
  padding: 10px;
  width: 135px;
  font-family: 'MontserratRegular';
  font-weight: bold;
  color: #e3e3e3;
  background:transparent;
  border: 1px solid #464646;
  margin-top: 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
#footerBtn:hover {
  background: #464646;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.footer span {
  color: #949494;
  font-family: 'CrimsonTextRegular';
  font-style: italic;
  font-size: 14px;
}

/* preloader */
.preloader {
  min-height: 700px;
  display: grid;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #aaa;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

#off {
  display: none;
}

*::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

*::-moz-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

*::-moz-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-moz-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
@media only screen and (min-width: 501px) and (max-width: 999px)  {
  /* header */
  .container {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .header__view h1 {
    font-size: 6em !important;
  }
  .header__view p {
    margin-top: -20px !important;
    font-size: 1em !important;
  }
  .header__view button {
    bottom: 20% !important;
  }
  .header__logo span {
    display: none;
  }

  /* works */
  .work__text {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  .work__text h2 {
    width: 90%;
    font-size: 2.3rem !important;
  }
  .work__video {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  video {
    min-width: 90% !important;
    max-width: 90% !important;
  }
  .work__additinal__text {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  .work__additinal__text h3 {
    min-width: 90%;
    max-width: 90%;
    font-size: 16px;
  }
  .work__additinal__text a {
    font-size: 16px !important;
  }
  .work .container__max {
    justify-content: center;
  }

  .container__mini {
    min-width: 90% !important;
    max-width: 90% !important;
  }

  /* about */
  .about {
    grid-template-columns: 100% !important;
  }
  .about .about__text {
    height: 100% !important;
  }
  .about .about__text .about__texts {
    margin: 20px 0 !important;
  }

  /* contacts */
  .contacts .container {
    grid-template-columns:  100% !important;
  }
  .fields {
    margin-top: 20px;
  }
  .contact__socials {
    justify-items: center;
  }
  .contact__socials a {
    font-size: 1em !important;
  }
  .short__field .inputs__field {
    grid-template-columns: 100% !important;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  /* header */
  .header {
    display: none;
  }
  .header__view h1 {
    font-size: 3em !important;
  }
  .header__view p {
    margin-top: 0 !important;
    font-size: 0.7em !important;
  }
  .header__view a {
    display: grid;
    justify-content: center;
  }
  .header__view button {
    bottom: 20% !important;
  }

  /* works */
  .work__text {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  .work__text h2 {
    width: 90%;
    font-size: 1.4em !important;
  }
  .work__video {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  video {
    min-width: 90% !important;
    max-width: 90% !important;
  }
  .work__additinal__text {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }
  .work__additinal__text h3 {
    min-width: 90%;
    max-width: 90%;
    font-size: 12px;
  }
  .work__additinal__text a {
    font-size: 12px !important;
  }
  .work .container__max {
    justify-content: center;
  }

  .container {
    min-width: 100%;
    max-width: 100%;
  }
  .container__mini {
    min-width: 90%;
    max-width: 90%;
  }

  /* about */
  .about {
    grid-template-columns: 100% !important;
  }
  .about .about__text {
    height: 100% !important;
  }
  .about .about__text .about__texts {
    margin: 5px 0 !important;;
  }

  /* contacts */
  .contacts .container {
    grid-template-columns: 100% !important;
  }
  .fields {
    margin-top: 20px;
  }
  .contact__socials  {
    justify-items: center;
  }
  .contact__socials a {
    font-size: 1em !important;
  }
  .short__field .inputs__field {
    grid-template-columns: 100% !important;
  }
}


@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}