.works {
    display: grid;
    justify-items: center;
    min-width: 100%;
    max-width: 100%;
}
.work {
    min-width: 100%;
    max-width: 100%;
}
.work .container__max {
    padding: 30px 0;
}
.works .container__mini  {
    display: grid;
    justify-content: center;
}
.work__text {
    text-align: center;
    display: grid;
    justify-items: center;
}
.work__text h2 {
    font-size: 2.7rem;
    font-family: 'CrimsonTextRegular';
    color: rgb(27, 27, 27);
    margin: 10px 0 0 0;
}
.work__text .under__line {
    width: 50%;
    height: 1px;
    background: rgb(27, 27, 27);
    margin-bottom: 10px;
}
.work__text .under__line:last-child {
    width: 30%;
}
.work__additinal__text {
    text-align: center;
}
.work__additinal__text h3 {
    margin: 10px 0 15px 0;
}
.work__additinal__text a {
    font-size: 1.17em;
    font-family: 'MontserratRegular';
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid rgb(27, 27, 27);
    color: rgb(27, 27, 27);
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.work__additinal__text a:hover {
    background: rgb(27, 27, 27);
    color: #fff;
    transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
video {
    border-radius: 3px;
    min-width: 700px;
    max-width: 700px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.work__video {
    position: relative;
}
.work__video__preloader img {
    min-width: 170px;
    max-width: 170px;
}
.work__video__preloader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
}